@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(241, 144, 102);
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}

.nav-links li {
    background-color: rgb(26, 188, 156);
}

* {
    font-family: 'Poppins', sans-serif;
}

div.page {

    margin-left: 10px;

}

div.page_with_left {
    margin-left: 260px;
}